.chosen-one {
  background-color: #f9f9f9; 
}

.chosen-one h2, h3 {
  font-weight: 500;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
}

iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.chosenOne-details {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 50px;
}

.details {
  background-color: black;
  opacity: .75;
}

.details .info {
  color:rgb(243, 249, 243);
  font-weight: 800;
  font-style: oblique;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 10px;
}

.details h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

.info-container {
  display: flex;
}

.info-from-data {
  margin-left: 20px;
}

.rating-star {
  margin-top: 1px;
  padding: 1px;
}

/* ********** computer sizes  ************ */
@media only screen and (min-width: 1260px) {

  .details {
    height: 100%;
    background-color: black;
    opacity: 70%;
  }

  .details .info { 
    height: 700px;
    width: 50%;
    color:rgb(243, 249, 243);
    font-weight: 800;
    font-style: oblique;
    padding-top: 80px;
    margin-top: 40px;
    margin-left: 40px;
  }

  .details h2 {
    font-size:xx-large;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .rating-star {
    margin-top: 10%;
    padding-bottom: 10px;
  }

}
