.chosen-one {
  background-color: #f9f9f9; 
}

.chosen-one h2, h3 {
  font-weight: 500;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
}

iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  /* content: ' ';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0;
  padding-top: 800px; */
}

.chosenOne-details {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 50px;
}

.details {
  /* for ipad take away the height */
  height: 700px;
  color:rgb(243, 249, 243);
  font-weight: 800;
  font-style: oblique;
  background-color: black;
  opacity: 70%;
}

.details h2 {
  padding-top: 80px;
  margin-top: 40px;
  margin-left: 40px;
  /* to iphone take the width away */
  width: 50%;
}
