.poster { 
  height: 400px; 
  width: 280px;
  margin: 10px;
  border-radius: 2px;
}

.poster:hover {
  margin-top: 200px;
  transform: scale(1.8);
  cursor: pointer;
  box-shadow:0px 9px 16px 12px #090909b0;
}

@media only screen and (max-width: 1400px) {
  .poster:hover {
    margin-top: 20px;
    transform: scale(1.2);
    cursor: pointer;
    box-shadow:0px 9px 16px 12px #090909b0;
  }
}