.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  color:#575757;
  background-color: #ffff;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgb(0 0 0 / 10%);
}

.logo-name {
  display: flex;
  padding:2px;
  color:#575757;
}

.logo-name h1 {
  padding: 5px;
  font-weight: 200;
  font-style: italic;
}

.logo {
  width: 60px;
}

.time-greetings {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  font-size: 8px;
}

a.back {
  color:#575757;
}

a.back:hover {
  color:#459cf1;
}

.search-field {
  display: flex;
  justify-content: space-between;
  opacity: .5;
  font-size: 14px;
  outline: none !important;
  border: 1px solid #9a9797fa;
  border-radius: 16px;
  border-color: #719ECE;
  box-sizing: border-box;
  box-shadow: 0 0 10px #719ECE;
} 

.search-bar {
  border: none;
  border-radius: 16px;
  width: 280%;
  padding-left: 14px;
  height: 32px!important;
  line-height: normal!important;
}

.search-bar:focus {
  outline: none !important;
}

.search-btn {
  width: 20px;
  height: 20px;
  padding: 1px;
  margin: 5px;
  cursor: pointer;
}

/* ************** computer size  ****************/
@media only screen and (min-width: 600px) {

  .logo-name h1 {
    padding: 5px;
    font-weight: 200;
    font-style: italic;
    font-size: xx-large;
  }

  .time-greetings {
    font-style: italic;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .search-bar {
    border: none;
    border-radius: 16px;
    width: 280%;
    padding-left: 14px;
    padding-right: 36px;
    height: 32px!important;
    line-height: normal!important;
  }

  a.back {
    color:#575757;
    font-size: 20px;
  }
}