.navbar {
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgb(0 0 0 / 10%);
  align-items: center;
  padding: 10px;
  color:#575757;
  text-align: center;
}

.logo-name {
  display: flex;
  padding:2px;
  color:#575757;
}

.logo-name h1 {
  padding: 5px;
  font-weight: 200;
  font-style: italic;
}

.logo {
  width: 60px;
}

.timeGreetings {
  display: flex;
  flex-direction: column;
}

.timeGreetings h5 {
  font-style: italic;
  font-size: 10px;
  text-align: center;
}

a.back {
  color:#575757;
}

a.back:hover {
  text-shadow: -2px 2px 8px #719ece;
  color:#459cf1;
}

.search-field {
  display: flex;
  justify-content: space-between;
  border: 1px solid #9a9797fa;
  border-radius: 16px;
  opacity: .5;
  font-size: 14px;
  box-sizing:border-box;
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
} 

.search-bar {
  border: none;
  border-radius: 16px;
  width: 280%;
  padding-left: 14px;
  padding-right: 36px;
  height: 32px!important;
  line-height: normal!important;
}

.search-bar:focus {
  outline: none !important;
}

.search-btn {
  width: 20px;
  height: 20px;
  padding: 1px;
  margin: 5px;
  cursor: pointer;
}